script(src="/public/index.js")
body
label User Name:
input#username(type = "text")
br
label Password:
input#password(type = "password")
br
input#registerButton(type = "button", value = "Login", onclick = "register()")